    body {
    font-family: 'Arial', sans-serif;
    background-color: #f7f7f7;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

h1 {
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

/* Formulário de Login */
.form-login {
    background-color: #fff;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

/* Inputs */
.form-login input[type="email"], 
.form-login input[type="password"] {
    width: 100%;
    padding: 12px 15px;
    margin-bottom: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 16px;
    background-color: #f5f5f5;
    color: #333;
    box-sizing: border-box;
}

/* Icone de senha */
.form-login input[type="password"] {
    position: relative;
}

.form-login input[type="password"]::after {
    content: '\1F512'; /* Ícone de cadeado */
    font-size: 20px;
    color: #888;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
}

/* Botão */
.form-login button {
    width: 100%;
    padding: 12px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.form-login button:hover {
    background-color: #0056b3;
}

/* Estilo para o texto de erro */
.error {
    color: red;
    font-size: 14px;
    margin-top: -15px;
    margin-bottom: 15px;
}