/* Modal de Substituição */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto; /* 5% from the top and centered */
    padding: 30px; /* Aumentado um pouco o padding */
    border: 1px solid #888;
    /* MODIFICAÇÃO AQUI: Aumentando a largura do modal */
    width: 90%; /* Pode ajustar para um valor fixo como 800px se preferir */
    max-width: 800px; /* Largura máxima, pode ser ajustada */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    position: relative; /* Para posicionar o botão de fechar */
}

/* Close Button */
.close-button {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    position: absolute; /* Posiciona o botão de fechar */
    right: 15px;
    top: 10px;
}

.close-button:hover,
.close-button:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilo para o conteúdo dentro do modal, especialmente a lista de alimentos similares */
#similarFoodsList {
    max-height: 400px; /* Limita a altura da lista para permitir rolagem */
    overflow-y: auto; /* Habilita a rolagem vertical */
    margin-top: 20px;
    padding-right: 10px; /* Para evitar que o scrollbar cubra o conteúdo */
}

#similarFoodsList table {
    width: 100%;
    border-collapse: collapse;
}

#similarFoodsList th, #similarFoodsList td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

#similarFoodsList th {
    background-color: #f2f2f2;
}