* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  background-color: #f9f9f9;
  color: #333;
}

.navbar {
  background-color: white;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #eee;
}

.navbar nav a {
  margin-right: 1.5rem;
  text-decoration: none;
  color: #333;
  font-weight: 500;
}

.auth-buttons .btn-outline,
.auth-buttons .btn-primary {
  margin-left: 0.5rem;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: 500;
}

.btn-outline {
  background: white;
  border: 1px solid #ccc;
}

.btn-primary {
  background: #5c27fe;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease, transform 0.2s ease;
}

.btn-primary:hover {
  background: #524284; 
  transform: scale(1.05); 
}

.container {
  max-width: 600px;
  margin: 3rem auto;
  text-align: center;
}

.subtitle {
  color: #777;
  margin-bottom: 2rem;
}

.calculator-box {
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.05);
  text-align: left;
}

.calculator-box label {
  display: block;
  margin-top: 1rem;
  font-weight: bold;
}

.calculator-box input {
  width: 100%;
  padding: 0.75rem;
  border-radius: 8px;
  border: 1px solid #ccc;
  margin-top: 0.5rem;
}

.calculator-box .btn-primary {
  width: 100%;
  margin-top: 1.5rem;
  padding: 0.75rem;
  border-radius: 20px;
}

.resultado {
  margin-top: 1rem;
  font-weight: bold;
}


/* CONHEÇA NOSSAS CALCULADORAS */
.conheca {
  text-align: center;
  margin-bottom: 64px;
}

.cards-simples {
  display: flex ;
  gap: 16px;
  flex-wrap: wrap;
  margin-top: 16px;
}

.card {
  flex: 1;
  min-width: 100px;
  padding: 16px;
  border-radius: 8px;
  background: #fff;
  border: 2px solid #ddd;
  text-align: center;
  font-weight: 500;
  transition: 0.3s;
  margin: 80px;
}

.card:nth-child(1) { border-color: #06b6d4; }
.card:nth-child(2) { border-color: #ef4444; }
.card:nth-child(3) { border-color: #facc15; }

.card:hover {
  background-color: #f9f9f9;
}

/* RESPONSIVO */
@media (max-width: 768px) {
  .nav-right {
    flex-direction: column;
    gap: 8px;
  }

  .calculadoras {
    flex-direction: column;
  }

  .cards-simples {
    flex-direction: column;
  }
}


.footer {
  margin-top: 4rem;
  padding: 2rem;
  background: #f0f0f0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5rem;
  font-size: 0.9rem;
}

.footer h4 {
  margin-bottom: 0.5rem;
}

.footer a {
  text-decoration: none;
  color: #333;
}

.footer .copyright {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #777;
}
